{% load static %}
<style type="text/css">
#chart_heat_map {
    width: 100%;
    height: 500px;
}

</style>
    <script>
    jQuery(document).ready(function($) {
    ChartsAmcharts.init();
    var map = AmCharts.makeChart("chart_heat_map", {
	type: "map",
    "theme": "none",
    pathToImages: "http://www.amcharts.com/lib/3/images/",

	colorSteps: 10,

	dataProvider: {
		map: "usaLow",
		areas: HEAT_MAP_DATA
	},

	areasSettings: {
		autoZoom: true
	},

	valueLegend: {
		right: 10,
		minValue: "little",
		maxValue: "a lot!"
	}

});
    });
    </script>
<div id="chart_heat_map"></div>
