{% extends 'base-login.html' %}
{% block title %}Reset Password{% endblock %}

{% block content %}

<form class="reset-password-form" action="/reset_password" method="POST">
{% csrf_token %}
    <h3>Forget Password?</h3>
    <p>
        Enter your phone or e-mail address below to reset your password.
    </p>
     {%  if message %}
    <div class="alert alert-{{ message_type }} alert-invalid-pwd">
        <a class="close" data-dismiss="alert">&times;</a>
         <strong> {{ context_message}}</strong>
    </div>
    {% endif %}
    <div class="form-group">
        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email or Phone" name="username" required="True"/>
    </div>
    <div class="form-actions">
        <button type="button" id="back-btn" class="btn btn-default">Back</button>
        <button type="submit" class="btn btn-success uppercase pull-right">Send Reset</button>
    </div>
</form>
{% endblock %}
