{% load static %}
<div class="page-header-inner">
    <!-- BEGIN LOGO -->
    <div class="page-logo">
        <a href="/dashboard/">
        <img src="{% static 'global/img/buzz-logo.png' %}" alt="logo" class="logo-default"/>
        </a>
        <div class="menu-toggler sidebar-toggler hide">
        </div>
    </div>

    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
    </a>

    <div class="top-menu">
        <ul class="nav navbar-nav pull-right">
            <li class="dropdown dropdown-user">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <img alt="" class="img-circle" src="{% static "admin/layout/img/avatar3_small.jpg" %}"/>
                <span class="username username-hide-on-mobile">
                {{ request.session.account.username }} </span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-default">
                    <li>
                        <a href="/dashboard/user/{{ request.session.account.id }}">
                            <i class="icon-user"></i> My Profile </a>
                    </li>
                    <li>
                        <a href="/dashboard/logout/">
                            <i class="icon-key"></i> Log Out </a>
                    </li>
                </ul>
            </li>
            <!-- END USER LOGIN DROPDOWN -->
        </ul>
    </div>
    <!-- END TOP NAVIGATION MENU -->
</div>